# Gradle
.gradle
**/build
**/.gradle

# IDE
.idea
.vscode
*.iml
*.iws
*.ipr
out/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Local properties
local.properties

# Android
local.properties
.Android
*.apk
*.ap_
.android/

# Build
bin/
gen/
build/

# Python (старый код)
__pycache__/
*.pyc
*.egg-info/
dist/
.venv
venv/
